---

---

<button class="btn btn-primary">Enviar</button>
<button class="btn btn-danger">Borrar</button>

<style>
  .btn {
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
  .btn-primary {
    background-color: #1a5276;
  }
  .btn-danger {
    background-color: #514f4f;
  }
</style>
